@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');

html, body {
margin:0;
padding:0;
}

#header {
  text-align:center;
  color:white;
  position: relative;
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-radial-gradient(ellipse at center, rgba(69,72,77,.5) 0%,rgba(0,0,0,.9) 100%), url('./img/header.png') no-repeat;  /* FF3.6-15 */
  background: -webkit-radial-gradient(ellipse at center, rgba(69,72,77,.5) 0%,rgba(0,0,0,.9) 100%), url('./img/header.png') no-repeat;  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(69,72,77,.5) 0%,rgba(0,0,0,.9) 100%), url('./img/header.png') no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-size:cover;
}

h1 {
  font-family: 'Montserrat',sans-serif;
  font-size: 3.6vw;
  font-weight:400;
  letter-spacing: -1px;
  margin: 0 0 -0.5vh 0;
  color:#222;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

@media (min-width: 1921px) {
  h1 {
    font-size:2.2vw;
  }
}

h3 {
  text-align:center;
}

h1 span {
  color: #28cf9f !important;
}

.primary {
  color:#28cf9f;
}
#header .header-particle img{
  margin-top:50px;
  width:35%;
}


#header .container-fluid {
  z-index:1
}
.header-particle img, .header-copy {
  z-index:999 !important;
}

@media (max-width: 1024px) {
  #header .header-particle img{
    margin-top:70px;
    width:55%;
  }
}
#header .header-copy h1 {
  margin-left:auto;
  margin-right:auto;
  margin-bottom:30px;
}

#header h1 {
  color: white;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

section {
  padding: 50px;
  text-align:center;
}

.bg-dark {
  background: #1D1F20;
  color:white;
}

@media (max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 700px) {
  .svg--sm {
    display: none;
  }
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  z-index:2;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
}
/*GRADIENT BUTTONS */
.btn-grad {
  margin-top:20px;
  margin:bottom:20px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 3px #eee;
  border-radius: 10px;
 }

.btn-grad:hover {
  background-position: right center;
  text-decoration:none;
}
.btn-grad-1 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.navbar {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    min-height: 53px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.navbar a {
    vertical-align: middle;
}

#mainNav {
  border-bottom: 1px solid #e9ecef;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

#mainNav .navbar-collapse a {
  color:white;
}

@media only screen and (min-width: 1439px) {

  #header{
    height:75vh;
  }
}

@media only screen and (max-width: 1439px) {
  #header{
    max-height:70vh;
    min-height:50vh;
  }
}

#techstack {
  margin-top:-20px;
}
.techstack-grid {
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  text-align:center;
  align-content:center !important;

}

@media only screen and (max-width: 1024px) {
  .techstack-grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);

  }
}

.techstack {
  text-align: center;
}
.techstack img {
  display: inline-block;
  -webkit-filter: grayscale(100%) opacity(60%);
  filter: grayscale(100%) opacity(60%);
  width:60%;
  padding-bottom:10px;

}
.techstack img:hover {
  -webkit-filter: grayscale(0) opacity(100);
  filter: grayscale(0) opacity(100);
}

#services {
  background: #085078;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #85D8CE, #085078), url('./img/bg-pattern.png') repeat;  /* Chrome 10-25, Safari 5.1-6 */
  background: url('./img/bg-pattern.png') repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@charset "UTF-8";

.blog-grid{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:20px;
  align-items:center !important;
}

@media only screen and (max-width:726px) {
  .blog-grid {
    display: inline-block;
  }
}


.blog .blog-post {
  margin:0;
  margin-bottom: 40px;
}
.blog .blog-post div {
  position: relative;
}
.blog .blog-post div .date {
  background-color: #fdfdfd;
  position: absolute;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  z-index: 9;
  color: #2c2c2c;
}
.blog .blog-post .blog-content {
  padding: 15px 28px;
  border: 1px solid #f5f5f5;
  box-shadow: 0 19px 38px rgba(0,0,0,0.22), 0 15px 12px rgba(0,0,0,0.11);
  border-radius:5px;
}
.blog .blog-post .blog-content h4 {
  margin: 20px 0;
  letter-spacing: 1px;
}
.blog .blog-post .blog-content h4 a {
  color: #333;
}
.blog .blog-post .blog-content .post-meta {
  text-transform: uppercase;
  margin-bottom: 18px;
  padding-bottom: 10px;
  font-size: 12px;
  border-bottom: 1px solid #F5F5F5;
}
.blog .blog-post .blog-content .post-meta span {
  color: #CCC;
}
.blog .blog-post .blog-content .post-meta span:first-child a {
  color: #848484;
}
.blog .blog-post .blog-content .post-meta span a {
  color: #CCC;
  border-bottom: 1px rgba(0, 0, 0, 0);
}
.blog .blog-post .blog-content .post-meta span a:hover {
  text-decoration: none;
  border-bottom-style: solid;
  border-color: inherit;
}
.blog .blog-post .blog-content .post-meta span {
  padding-right: 10px;
  border-right: 1px solid #CCC;
  margin-right: 10px;
}
.blog .blog-post .blog-content .post-meta span:last-child {
  margin-right: 0;
  border-right: 0;
  padding-right: 0;
}
.blog .blog-post .blog-content p {
  color: #67666a;
  line-height: 22px;
}
.blog .blog-post footer {
  border: 1px solid #DDD;
  padding: 0px 15px;
}
.blog .blog-post footer .comment-count {
  color: #000;
  position: relative;
  padding-left: 25px;
}
.blog .blog-post footer .comment-count:hover,
.blog .blog-post footer .comment-count:focus {
  color: #000;
}
.blog .blog-post footer .read-more {
  color: #000;
  position: relative;
  padding-left: 25px;
  padding-right: 0;
  text-transform: uppercase;
}
.blog .blog-post footer .read-more:hover,
.blog .blog-post footer .read-more:focus {
  color: #000;
}

@media (min-width: 768px) {
  .blog .blog-post div .image-slider-carousel .carousel-control.left {
    top: 200px;
    bottom: 5px;
    left: 220px;
  }
  .blog .blog-post div .image-slider-carousel .carousel-control.right {
    top: 200px;
  }
}
@media (min-width: 992px) {
  .blog .blog-post div .image-slider-carousel .carousel-control.left {
    top: 210px;
    bottom: 5px;
    left: 235px;
  }
  .blog .blog-post div .image-slider-carousel .carousel-control.right {
    top: 210px;
    right: 10px;
    bottom: 5px;
  }
}
.blog-standard .blog-post {
  margin-bottom: 80px;
}
.blog-standard .blog-post:last-child {
  margin-bottom: 0;
}
.blog-standard .blog-post .featured-image {
  margin-bottom: 30px;
}
.blog-standard .blog-post .post-title {
  margin-bottom: 15px;
}
.blog-standard .blog-post .post-title > a {
  color: #5c5c5c;
}
.blog-standard .blog-post .post-title > a:hover {
  color: #000000;
  text-decoration: none;
}
.blog-standard .blog-post .post-meta {
  color: silver;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 30px;
}
.blog-standard .blog-post .post-meta a {
  color: #656565;
}
.blog-standard .blog-post .post-meta span {
  margin: 0 6px;
}
.blog-standard .blog-post .read-more {
  margin-top: 25px;
}
.blog-standard .blog-post .read-more a {
  text-transform: uppercase;
  color: black;
  transition: all 0.2s;
}
.blog-standard .blog-post .read-more a:hover {
  color: silver;
  text-decoration: none;
}

/*overriding bootstrap's default pagination */
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.pagination > li {
  display: inline-block;
  margin-right: 8px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: black;
  border-color: black;
}

.pagination > li > a, .pagination > li > span {
  color: #909090;
}

.sidebar {
  padding: 0 0 0 30px;
}
.sidebar .widget {
  margin-bottom: 60px;
}
.sidebar .widget.popular-posts .widget-content ul {
  padding: 15px 0 0 0;
  list-style: none;
  color: #b0b0b0;
}
.sidebar .widget.popular-posts .widget-content ul li {
  margin-bottom: 30px;
}
.sidebar .widget.popular-posts .widget-content ul .thumb {
  margin-right: 10px;
  margin-top: -10px;
}
.sidebar .widget.popular-posts .widget-content ul .title {
  color: gray;
}
.sidebar .widget.popular-tags a {
  margin-bottom: 6px;
}
.sidebar .widget.categories ul {
  list-style: none;
  padding: 0;
}
.sidebar .widget.categories ul li {
  line-height: 3em;
}
.sidebar .widget.categories ul li:before {
  content: "ÔÑÅ";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 15px;
}
.sidebar .widget.categories ul li a {
  color: black;
}
.sidebar .widget.categories ul li a:hover {
  color: gray;
}

.left-sidebar .sidebar {
  padding: 0 30px 0 0;
}

.blog-grid .blog-element {
  max-height: 290px;
  overflow: hidden;
}
.blog-grid .blog-element img {
  width: 100%;
}


.contact {
color:white !important;
}

#footer {
  padding-bottom:5px;
  background:#1D1F20;
  font: 100%/1.5em sans-serif;
  box-sizing: border-box;
}

@media only screen and (min-width: 1439px) {
  #footer {
    background: -webkit-linear-gradient(-3deg,#1D1F20 0%,#1D1F20 100%);
    background: -o-linear-gradient(-3deg,#1D1F20 0%, #1D1F20 67.7%,#1D1F20 68%, #1D1F20 100%);
    background: linear-gradient(-3deg,#1D1F20 0%, #1D1F20 67.7%,#fff 68%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#ffffff',GradientType=0 );
  }
  .contact {
    padding-top: 8%;
  }
}

@media only screen and (max-width: 1441px) {
  .contact {
    padding-top:11%;
    padding-bottom: 20px;
  }
}

 hr {
  border: 1px solid;
  color:#28cf9f;
  width:10vw;
}
#footer h1 {
  color: white;
}
#footer a {
	text-decoration: none;
}

#footer ul {
	list-style: none;
	margin: 0;

}

#footer .container {
	left: 50%;
	margin: 1em 0 0 -6em;
	position: relative;
	top: 50%;
	width: 12em;
}

#footer .social {
	position: relative;
	height: 3em;
	width: 12em;
}

#footer p {
  color:white;
}

#footer .text-primary {
  color: #28cf9f;
}

#footer .social li {
	display: block;
	height: 4em;
	line-height: 4em;
	margin: -2.5em;
	position: absolute;
	-webkit-transition: -webkit-transform .5s;
	-moz-transition: -moz-transform .5s;
	-ms-transition: -ms-transform .5s;
	-o-transition: -o-transform .5s;
	transition: transform .5s;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	width: 4em;
}

#footer .social a {
	color: #fffdf0;
	display: block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 4em;
}

#footer .social li:hover {
	-webkit-transform: rotate(405deg);
	-moz-transform: rotate(405deg);
	-ms-transform: rotate(405deg);
	-o-transform: rotate(405deg);
	transform: rotate(405deg);
}

#footer .facebook {
	border-radius:8px;
  border:2px solid #28cf9f;
	left: 0;
	top: 0%;
}

#footer .facebook i {
  color: #28cf9f;
}

#footer .linkedin {
	border-radius:8px;
  border:2px solid white;
	left: 50%;
	top: 0%;
}

#footer .linkedin i {
  color: #fff;
}

#footer .medium {
	border-radius:8px;
  border:2px solid #28cf9f;
	left: 100%;
	top: 0%;
}

#footer .medium i {
  color: #28cf9f;
}

#footer p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}




.align-left {
  text-align:left;
}
.align-right {
  text-align:right;
}
.featured-area {
  background: #fff;
  padding: 60px 0 100px 0;
}

.single-feature {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .single-feature {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-justify-content: center !important;
    -moz-justify-content: center !important;
    justify-content: center !important;
  }
}

.single-feature .desc {
  width: 80%;
}

@media (max-width: 767px) {
  .single-feature .desc {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .single-feature .desc {
    width: 100%;
  }
}

.single-feature .desc h4 {
  margin: 10px 0 20px 0;
  font-size: 20px;
}

.about-area {
  background: #f9f9ff;
  padding: 100px 0;
}

.about-area .about-thumb {
  border-radius: 3px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .about-title {
    text-align: center;
  }
  .about-title h2 br {
    display: none;
  }
}

.about-title h3 {
  font-size: 36px;
  line-height: 1.15em;
  font-weight: 600;
  margin-bottom: 10px;
}

.single-content-left {
  padding-bottom:20px;
  display:grid;
  grid-template-columns: 3fr 1fr;
}

.single-content-right {
    padding-bottom:20px;
  display:grid;
  grid-template-columns:1fr 3fr
}

.about-area a {
  margin-top:25px;
}
